.navbar {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.button {
  border: 1px solid #d6d6d6;
  padding: 10px;
  background: #fff;
}
.button:hover,
.button.on {
  cursor: pointer;
  background: #efefef;
}
.button + .button {
  border-left: 0;
}

.navbar .button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.navbar .button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
