.app {
  width: 100%;
  margin: 0 auto;
  padding: 20px 15px 0;
  max-width: 1024px;
}

.button {
  border: 1px solid #d6d6d6;
  padding: 10px;
  background: #eee;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background: #fff;
}
.button.on {
  color: #fff;
  background: #212121;
}
.button.on:hover {
  color: #fff;
  background: #666;
}

/* form */
.form {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.form input {
  border: 1px solid #d6d6d6;
  padding: 5px 10px;
  border-right: 0;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form .button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.navbar .button {
  border-radius: 0;
}
.navbar .button + .button {
  border-left: 0;
}
.navbar .button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.navbar .button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
